$background-color-deep-indigo: #361281;
$black: #000000;
$text-color-white: #ffffff;
$bright-yellow-green: #d5ff2f;
$hot-pink: #ff2473;
$electric-orange: #ff6f1f;
$light-aqua: #54f2f2;

$aspergit-font: Aspergit;
